<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/changePassword.css" />
  </head>
  <body>
    <%- include('../includes/nav.ejs') %>
    <section class="DUI_container_black">
      <div class="DUI_data_box">
        <h1 class="DUI_change_my_data">Change Password</h1>
        <form action="/changePass" method="POST" class="DUI_change_form">
          <!-- errors place -->
          <% if (hasError) { %>
          <div class="DL_form_errors">
            <small class="DL_error"><%= errorMessage %></small>
          </div>
          <% } %>
          <input
            type="password"
            name="oldPassword"
            id=""
            placeholder="Old Password"
            required
          />
          <input
            type="password"
            name="newPassword"
            id=""
            placeholder="New Password"
            required
          />
          <input
            type="password"
            name="confirmNewPassword"
            id=""
            placeholder="Confirm New Password"
            required
          />
          <input type="hidden" name="designerId" value="<%= designerId %>" />
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <button type="submit" class="DUI_submit">Change Password</button>
        </form>
      </div>
    </section>
    <%-include ('../includes/end.ejs')%>
  </body>
</html>
